<div class="w-full flex flex-col items-start justify-start gap-2 p-3 bg-[#f7f7f7] rounded-md shadow-sm">
  <div class="flex flex-row justify-between items-center w-full">
    <div class="flex flex-row items-center gap-2">
      <p class="font-bold m-0">
        Type: <span class="font-normal">{{ type }}</span>
      </p>
      <span class="status-dot bg-[#28c76f]"></span>
    </div>
    <p class="bg-[#ff4c51] py-1 px-2 font-bold text-white rounded-md m-0">Delete</p>
  </div>
  <div class="flex flex-row justify-between items-center w-full">
    <p class="font-bold m-0">
      Serial No: <span class="font-normal">{{ serial }}</span>
    </p>
    <p class="font-bold m-0">
      Issue Date: <span class="font-normal">{{ issueDate }}</span>
    </p>
  </div>
</div>
