<div class="w-full flex flex-col justify-start items-start gap-5 p-4 pt-0 ml-2">
  <div class="flex flex-row justify-start items-start gap-4">
    <div class="w-[260px] h-[150px] bg-white shadow-sm rounded-lg p-4 flex flex-col justify-start items-start gap-3">
      <div class="flex justify-start items-center gap-3">
        <i class="pi pi-clock text-[#00BAD1] bg-[#00BAD129] p-2 rounded-md" style="font-size: 1.5rem"></i>
        <p class="m-0 text-3xl font-medium">13</p>
      </div>
      <div class="flex flex-col justify-start items-start gap-2">
        <p class="m-0 text-[#2F2B3DB2]">Today's Productivity Minutes</p>
        <p class="m-0 text-[#2F2B3D66]"><span class="text-[#2F2B3DE5]">-2.5%</span> than last week</p>
      </div>
    </div>
    <div class="w-[260px] h-[150px] bg-white shadow-sm rounded-lg p-4 flex flex-col justify-start items-start gap-3">
      <div class="flex justify-start items-center gap-3">
        <i class="pi pi-calendar text-[#6366F1] bg-[#7367F029] p-2 rounded-md" style="font-size: 1.5rem"></i>
        <p class="m-0 text-3xl font-medium">42</p>
      </div>
      <div class="flex flex-col justify-start items-start gap-2">
        <p class="m-0 text-[#2F2B3DB2]">October Productivity Minutes</p>
        <p class="m-0 text-[#2F2B3D66]"><span class="text-[#2F2B3DE5]">-2.5%</span> than last week</p>
      </div>
    </div>
  </div>
  <div class="flex flex-row justify-start items-start gap-4">
    <div class="w-[260px] h-[150px] bg-white shadow-sm rounded-lg p-4 flex flex-col justify-start items-start gap-3">
      <div class="flex justify-start items-center gap-3">
        <i
          class="pi pi-exclamation-triangle text-[#FF9F43] bg-[#FF9F4329] p-2 rounded-md"
          style="font-size: 1.5rem"
        ></i>
        <p class="m-0 text-3xl font-medium">8</p>
      </div>
      <div class="flex flex-col justify-start items-start gap-2">
        <p class="m-0 text-[#2F2B3DB2]">Alerts</p>
        <p class="m-0 text-[#2F2B3D66]"><span class="text-[#2F2B3DE5]">5</span> uncompleted alerts</p>
      </div>
    </div>
    <div class="w-[260px] h-[150px] bg-white shadow-sm rounded-lg p-4 flex flex-col justify-start items-start gap-3">
      <div class="flex justify-start items-center gap-3">
        <i class="pi pi-list text-[#FF4C51] bg-[#FF4C5129] p-2 rounded-md" style="font-size: 1.5rem"></i>
        <p class="m-0 text-3xl font-medium">27</p>
      </div>
      <div class="flex flex-col justify-start items-start gap-2">
        <p class="m-0 text-[#2F2B3DB2]">Assigned Tasks</p>
        <p class="m-0 text-[#2F2B3D66]"><span class="text-[#2F2B3DE5]">2</span> uncompleted tasks</p>
      </div>
    </div>
  </div>
</div>
