<div class="bg-white rounded-lg shadow-md flex flex-col w-full gap-2">
  <div class="bg-white rounded-lg px-2 py-2">
    <div class="flex flex-row justify-between px-2">
      <p class="text-[#060505] font-sans text-lg not-italic font-medium leading-5">Notes</p>
      <p class="font-sans not-italic font-medium leading-5 text-[#6366F1] mt-1">View All</p>
    </div>
    <div class="flex items-center w-full">
      <p
        class="px-2 py-1 text-[#666] w-max font-sans text-sm not-italic font-medium leading-normal capitalize rounded-[6px] bg-[#DCEFFF]"
      >
        Verbally Agreed to Calls and Messages
      </p>
      <img
        src="../../../../../../assets/layout/styles/icons/pin-icon.png"
        width="12px"
        height="12px"
        class="ml-2 mb-3"
      />
    </div>
    <p class="text-[#222] font-sans text-sm not-italic leading-5 px-2">
      Lorem ipsum dolor sit , consectetur Duis sollicitudin sollicitudin laoreet pulvinar sollicitudin laoreet hah
      eet...
      <a href="#" class="text-[#6366F1]">Expand</a>
    </p>
    <p-divider class="w-full" />
    <div class="flex justify-between px-2 mt-[-4px]">
      <span class="font-sans text-sm not-italic font-medium leading-normal text-[#060505]">Ajmal Shami</span>
      <span class="text-[#666] font-sans text-sm not-italic font-normal leading-5">Sep 24, 2024 at 6:03:00 PM</span>
    </div>
  </div>
</div>
<app-tasks></app-tasks>
<app-patient-notes></app-patient-notes>
