<div class="flex flex-col h-[calc(40vh-25px)] overflow-y-scroll">
  <div class="bg-white rounded-lg shadow-md flex flex-col w-full gap-2">
    <div class="bg-white rounded-lg px-2 py-2">
      <div class="flex flex-row justify-between px-2">
        <p class="text-[#060505] font-sans text-lg not-italic font-medium leading-5">Notes</p>
        <div class="flex flex-row btns-group gap-2 mb-2">
          <button
            pButton
            pRipple
            label="Add"
            (click)="viewAllNotes()"
            class="p-button-outlined border-gray-500 text-sm text-[#444] font-sans not-italic font-medium leading-5"
          ></button>
          <button
            pButton
            pRipple
            label="View All"
            (click)="goToNotesSection()"
            class="font-sans not-italic font-medium text-sm leading-5 text-indigo-500 border-indigo-500 bg-transparent"
          ></button>
        </div>
      </div>
      <div class="flex items-center w-full">
        <p
          class="px-2 py-1 text-[#666] w-max font-sans text-sm not-italic font-medium leading-normal capitalize rounded-md bg-[#DCEFFF]"
        >
          Verbally Agreed to Calls and Messages
        </p>
        <img
          src="../../../../../../assets/layout/styles/icons/pin-icon.png"
          width="12px"
          height="12px"
          class="ml-2 mb-3"
        />
      </div>
      <div class="text-[#222] font-sans text-sm not-italic leading-5 px-2">
        {{ getTruncatedText(noteContent) }}
        <span class="text-[#6366F1] cursor-pointer" (click)="toggleExpand()">
          {{ isExpanded ? "Collapse" : "Expand" }}
        </span>
      </div>
      <p-divider class="w-full"></p-divider>
      <div class="flex justify-between px-2 mt-[-4px]">
        <span class="font-sans text-sm not-italic font-medium leading-normal text-[#060505]">Ajmal Shami</span>
        <span class="text-[#666] font-sans text-sm not-italic font-normal leading-5">Sep 24, 2024 at 6:03:00 PM</span>
      </div>
    </div>
  </div>

  <app-tasks></app-tasks>
</div>

<app-notes-sidebar></app-notes-sidebar>
