root = true

[*]
indent_style = space
indent_size = 2
max_line_length = 120
insert_final_newline = true
charset = utf-8
trim_trailing_whitespace = true

[*.js]
quote_type = double
[*.jsx]
quote_type = double
[*.ts]
quote_type = double
[*.tsx]
quote_type = double

[*.json]
quote_type = double
