<div class="w-[335px] flex flex-col gap-2">
  <div class="px-4 py-[10px] bg-white rounded-lg shadow-md flex flex-col w-full gap-4">
    <div class="flex flex-col gap-2">
      <div class="flex flex-row justify-between">
        <p class="m-0 text-[#101828] font-sans text-[16px] not-italic font-medium leading-[20px]">
          M Henderson Covington
        </p>
        <p-fileUpload
          mode="basic"
          chooseIcon="pi pi-cloud-upload"
          name="uploadfacesheet"
          accept="image/*"
          maxFileSize="1000000"
          class="upload-button"
        />
      </div>
      <div class="flex flex-row justify-between">
        <div class="flex gap-[6px] text-sm">
          <span class="badge border text-[#444] py-[2px] px-2 rounded-full">English</span>
          <span class="badge border text-[#444] py-[2px] px-2 rounded-full">Female</span>
          <span class="badge border text-[#444] py-[2px] px-2 rounded-full">76 y/o</span>
        </div>
        <div class="flex gap-[6px]">
          <span class="badge bg-[#FEF2F2] text-[#DC2626] py-1 px-2 rounded-full">RPM</span>
          <span class="badge bg-[#FEF2F2] text-[#DC2626] py-1 px-2 rounded-full">CCM</span>
        </div>
      </div>
    </div>
    <div class="flex flex-col gap-2">
      <div class="flex flex-row justify-between">
        <div class="flex flex-row gap-2 items-center">
          <img class="w-4 h-4" src="../../../assets/layout/styles/icons/call-outgoing.svg" />
          <p class="m-0 text-sm">Mobile</p>
        </div>
        <div class="flex flex-row gap-2 items-center">
          <p class="m-0 text-sm text-[#222]">(214) 284-0175</p>
          <i class="pi pi-phone"></i>
        </div>
      </div>
      <div class="flex flex-row justify-between">
        <div class="flex flex-row gap-2 items-center">
          <img class="w-4 h-4" src="../../../assets/layout/styles/icons/house.svg" />
          <p class="m-0 text-sm">Home</p>
        </div>
        <div class="flex flex-row gap-2 items-center">
          <p class="m-0 text-sm text-[#222]">(214) 284-0175</p>
          <i class="pi pi-phone"></i>
        </div>
      </div>
      <div class="flex flex-row gap-2 items-center">
        <img class="!w-4 h-4" src="../../../assets/layout/styles/icons/hospital.svg" />
        <p class="m-0 text-sm">Alpha Medical Center</p>
      </div>
      <div class="flex flex-row gap-2 items-center">
        <img class="!w-4 h-4" src="../../../assets/layout/styles/icons/profile-circle.svg" />
        <p class="m-0 text-sm">Dr. Austin Ogwu</p>
      </div>
      <p-divider class="w-full" />
      <div class="flex flex-col gap-2">
        <div class="flex flex-row justify-between">
          <p class="m-0 text-sm">Place</p>
          <p class="m-0 text-sm text-[#222]">Dallas, Texas</p>
        </div>
        <div class="flex flex-row justify-between">
          <p class="m-0 text-sm">Diagnosis</p>
          <p class="m-0 text-sm text-[#222]">HTN, Ventricular ectopic beat</p>
        </div>
        <div class="flex flex-row justify-between">
          <p class="m-0 text-sm">Program Type</p>
          <p class="m-0 text-sm text-[#222]">Medicare</p>
        </div>
        <div class="flex flex-row justify-between">
          <p class="m-0 text-sm">D.O.R</p>
          <div class="flex flex-row items-center justify-center gap-2">
            <p class="m-0 text-sm text-[#222]">7</p>
            <p-progressBar
              class="p-progressbar-value p-progressbar-value-animate progressbar text-skyLight"
              [value]="46"
              [style]="{ height: '0.5rem', width: '6rem' }"
              [showValue]="false"
            ></p-progressBar>
            <p class="m-0 text-sm text-[#222]">46%</p>
          </div>
        </div>
        <div class="flex flex-row justify-between">
          <p class="m-0 text-sm">Billing Cycle Start</p>
          <p class="m-0 text-sm text-[#222]">July 6, 2024</p>
        </div>
      </div>
    </div>

    <div class="btns-group flex items-center gap-2">
      <button
        pButton
        pRipple
        label="Discharge"
        icon="pi pi-user-minus"
        class="p-button-outlined border-[#FDA29B] text-[#B42318] text-sm btn-red"
      ></button>
      <button
        pButton
        pRipple
        label="Hold"
        icon="pi pi-clock"
        class="p-button-outlined border-[#F99D67] text-[#F5630F] text-sm btn-orange"
      ></button>
      <button
        pButton
        pRipple
        label="Task"
        (click)="taskBarVisible = true"
        icon="pi pi-check-circle"
        class="p-button-outlined border-gray-500 text-[#444] text-sm"
      ></button>
      <button
        pButton
        pRipple
        label="Messages"
        icon="pi pi-envelope"
        class="p-button-outlined border-gray-500 text-[#444] text-sm"
      ></button>
    </div>
  </div>
  <patient-dashboard-notes />
</div>
<task-sidebar [sidebarVisible]="taskBarVisible" />
