<section class="w-full flex flex-col items-start justify-start">
  <div class="w-full flex flex-row gap-3">
    <patient-dashboard-info />
    <div class="flex flex-col w-full justify-start items-start">
      <div class="flex flex-row justify-between w-full pt-0 pb-3">
        <tab-router [routes]="routes" class="w-full" />
        <div class="w-full flex flex-row gap-2 items-center justify-end">
          <p class="m-0 font-sans text-sm not-italic font-normal leading-5 text-[#666]">Time Spent</p>
          <span
            class="text-medium bg-[#F2F4F7] text-[#344054] text-base not-italic font-medium leading-4 py-1 px-2 rounded-full"
            >RPM: 0 mins</span
          >
          <span
            class="text-medium bg-[#F2F4F7] text-[#344054] text-base not-italic font-medium leading-4 py-1 px-2 rounded-full"
            >CCM: 0 mins</span
          >
          <div class="bg-[#FADDDB] w-2 h-12 text-xl rounded-2xl flex justify-center items-center">
            <span class="text-[#B42318] w-full font-bold px-4 py-gap-2">{{ timerDisplay }}</span>
          </div>

          <button
            *ngIf="!isRunning && !hasStarted"
            (click)="startTimer()"
            class="border-[#FDA29B] bg-white border-1 px-4 py-2.5 flex justify-center items-center rounded-lg cursor-pointer"
          >
            <span class="text-[#B42318]">Start</span>
          </button>

          <button
            *ngIf="isRunning"
            (click)="pauseTimer()"
            class="border-[#FDA29B] bg-white border-1 px-4 py-2.5 flex justify-center items-center rounded-lg cursor-pointer"
          >
            <span class="text-[#B42318]">Pause</span>
          </button>

          <button
            *ngIf="!isRunning && hasStarted"
            (click)="resumeTimer()"
            class="border-[#FDA29B] bg-white border-1 px-4 py-2.5 flex justify-center items-center rounded-lg cursor-pointer"
          >
            <span class="text-[#B42318]">Resume</span>
          </button>

          <button
            *ngIf="hasStarted"
            (click)="stopTimer()"
            class="border-[#FDA29B] bg-white border-1 px-4 py-2.5 flex justify-center items-center rounded-lg cursor-pointer"
          >
            <span class="text-[#B42318]">Stop</span>
          </button>
        </div>
      </div>

      <div class="w-full">
        <router-outlet></router-outlet>
      </div>
    </div>
  </div>
</section>

<care-type-modal></care-type-modal>
<timer-log></timer-log>
