<section>
  <div class="w-full h-[42px] flex flex-row justify-between items-center">
    <p-button label="Pending Enrollments" icon="pi pi-arrow-left" [text]="true" class="p-3 font-medium" />
  </div>

  <intracare-table [columns]="columns" [rowData]="patients" [rowsPerPage]="[10, 25, 50]" />
</section>

<ng-template #patientCardTemplate let-row>
  <p class="font-bold">{{ row.name }}</p>
  <p>DOB {{ row.dob }}</p>
</ng-template>
<ng-template #programTypeTemplate let-row>
  <p class="font-bold">{{ row.programType }}</p>
</ng-template>
<ng-template #statusTemplate let-row>
  <p class="bg-skyLight text-indigo-500 text-center rounded-full inline-block w-auto px-2.5 py-1">
    {{ row.status }}
  </p>
</ng-template>
<ng-template #progressTemplate let-row>
  <div class="flex flex-col">
    <p>{{ row.progress }}%</p>
    <p-progressBar
      class="p-progressbar-value p-progressbar-value-animate progressbar text-skyLight"
      [value]="row.progress"
      [style]="{ height: '4px' }"
      [showValue]="false"
    ></p-progressBar>
  </div>
</ng-template>
<ng-template #consentTemplate let-row>
  <p class="bg-lime-50 text-lime-600 text-center px-[1px] rounded-lg">
    {{ row.consent }}
  </p>
</ng-template>
<ng-template #editUpdateTemplate let-row>
  <i class="pi pi-eraser mr-4 text-[15px] text-indigo-500 flex-shrink-0"></i>
  <i class="pi pi-sync ml-4 text-[15px] text-indigo-500 flex-shrink-0"></i>
</ng-template>
<ng-template #customFilter let-field="field" let-options="options" let-filterCallback="filterCallback">
  <app-custom-filter [options]="options" (filterCallback)="onCheckboxChange($event)" />
</ng-template>
