<section class="w-full flex flex-col justify-start items-start gap-2 cutom-header-padding">
  <div class="page-header h-[42px] flex flex-row justify-between items-center w-full">
    <p-button label="Readings Not Addressed" icon="pi pi-arrow-left" [text]="true" class="p-3 font-medium"></p-button>
  </div>

  <div class="rounded-xl mt-4">
    <intracare-table [columns]="columns" [rowData]="patientss" [rowsPerPage]="[10, 25, 50]" />
  </div>
</section>

<ng-template #patientCardTemplate let-row>
  <div class="flex items-center space-x-2 w-[180px]">
    <img [src]="row.image" alt="Patient Image" class="w-2 rounded-full" />
    <div class="flex flex-col">
      <span class="font-bold">{{ row.name }}</span>
      <span class="text-sm">{{ row.dob }}</span>
      <a href="#" class="text-black"
        >Patient ID: <span class="text-blue-500 hover:underline">{{ row.id }}</span></a
      >
    </div>
  </div>
</ng-template>
<ng-template #stageTemplate let-row>
  <span class="text-red-400 bg-red-50 rounded-full p-1.5">
    <i class="pi pi-arrow-up ml-2"></i>
    {{ row.stage }}
  </span>
</ng-template>
<ng-template #statusTemplate let-row>
  <span [class]="row.status ? 'text-green-500' : 'text-red-500'">{{ row.status ? "Active" : "In Active" }}</span>
</ng-template>
