.notes-btn {
  ::ng-deep .p-button {
    border-radius: 50%;
    border: 1px solid #6366f1;
    color: white;
    background-color: #6366f1;
    height: 4.5rem;
    width: 4.5rem;
  }
  ::ng-deep .p-element {
    z-index: 1;
  }
  ::ng-deep .p-button-icon {
    font-size: 1.5rem;
  }
}
::ng-deep .p-sidebar-header {
  background-color: #f9f9f9;
}
::ng-deep .p-sidebar-content {
  background-color: #f9f9f9;
}
