<p-sidebar [(visible)]="sidebarVisible" position="right" styleClass="w-[368px] bg-[#F9F9F9]" (onHide)="closeSideBar()">
  <ng-template pTemplate="header">
    <h3 class="font-medium text-xl mb-0">Send Message</h3>
  </ng-template>

  <div class="flex flex-col h-full justify-between items-start">
    <div class="w-full flex flex-col justify-start items-start gap-2">
      <div
        *ngFor="let msg of mockMsgs"
        class="p-4 bg-[#DCE2FF] rounded-md w-full flex flex-col gap-3 items-start justify-start"
      >
        <p class="m-0">{{ msg.message }}</p>
        <div class="w-full flex justify-end items-center">
          <p class="m-0">Sent on: {{ msg.date }}</p>
        </div>
      </div>
    </div>
    <div class="flex flex-col w-full justify-center items-center">
      <p-divider class="w-full" />
      <textarea
        placeholder="Type a message ..."
        id="taskDescription"
        rows="6"
        [(ngModel)]="newMessage"
        cols="42"
        pInputTextarea
        class="w-full rounded-lg border-[#D0D5DD] p-3"
        (keydown)="onKeyDown($event)"
      >
      </textarea>
      <button
        pButton
        pRipple
        label="Send"
        (click)="sendMessage()"
        class="my-3 py-3 font-medium rounded-lg bg-[#6366F1] px-[54px] w-full"
      ></button>
    </div>
  </div>
</p-sidebar>
