<div class="py-4 px-6 flex flex-col justify-start items-start gap-3">
  <div class="flex flex-row items-start justify-start">
    <h4 class="text-primary">Insurance Information</h4>
    <p>{{ name }}</p>
  </div>
  <div class="w-full flex flex-row justify-start items-start gap-3">
    <div class="flex flex-col gap-2 w-[24%]">
      <label for="firstName">Insurance Name</label>
      <input type="text" pInputText [(ngModel)]="value" class="w-full h-[32px]" placeholder="Insurance Name" />
    </div>
    <div class="flex flex-col gap-2 w-[24%]">
      <label for="lastName">Insurance State</label>
      <input type="text" pInputText [(ngModel)]="value" class="w-full h-[32px]" placeholder="Insurance State" />
    </div>
    <div class="flex flex-row gap-3 w-[24%]">
      <div class="flex flex-col gap-2 w-1/2">
        <label for="gender">Group Number</label>
        <input type="text" pInputText [(ngModel)]="value" class="w-full h-[32px]" placeholder="Group" />
      </div>
      <div class="flex flex-col gap-2 w-1/2">
        <label for="dob">Subscriber DOB</label>
        <input type="text" pInputText [(ngModel)]="value" class="w-full h-[32px]" placeholder="DOB" />
      </div>
    </div>
    <div class="flex flex-col gap-2 w-[24%]">
      <label for="ethnicity">Policy Number</label>
      <input type="text" pInputText [(ngModel)]="value" class="w-full h-[32px]" placeholder="Policy Number" />
    </div>
  </div>
  <div class="w-full flex flex-row justify-start items-start gap-3">
    <div class="flex flex-col gap-2 w-[24%]">
      <label for="city">Subscriber Name</label>
      <input type="text" pInputText [(ngModel)]="value" class="w-full h-[32px]" placeholder="Subscriber Name" />
    </div>
    <div class="flex flex-col gap-2 w-[24%]">
      <label for="zipCode">Subscriber ID</label>
      <input type="text" pInputText [(ngModel)]="value" class="w-full h-[32px]" placeholder="Subscriber ID" />
    </div>
    <div class="flex flex-col gap-2 w-[24%]">
      <label for="city">City</label>
      <input type="text" pInputText [(ngModel)]="value" class="w-full h-[32px]" placeholder="City" />
    </div>
    <div class="flex flex-col gap-2 w-[24%]">
      <label for="zipCode">Zip Code</label>
      <input type="text" pInputText [(ngModel)]="value" class="w-full h-[32px]" placeholder="Zip Code" />
    </div>
  </div>
  <div class="w-full flex flex-row justify-start items-start gap-3">
    <div class="flex flex-col gap-2 w-[24%]">
      <label for="cellPhoneNumber">Claim Mailing Address</label>
      <input type="text" pInputText [(ngModel)]="value" class="w-full h-[32px]" placeholder="Claim Mailing Address" />
    </div>
    <div class="flex flex-col gap-2 w-[24%]">
      <label for="homePhoneNumber">State</label>
      <input type="text" pInputText [(ngModel)]="value" class="w-full h-[32px]" placeholder="State" />
    </div>
  </div>
</div>
