<div class="py-4 px-6 flex flex-col justify-start items-start gap-3">
  <div class="flex flex-row items-start justify-start">
    <h4 class="text-primary">Attach a Device</h4>
    <h5 *ngIf="name" class="m-1 font-semibold text-gray-700">&mdash; {{ name }}</h5>
  </div>
  <div class="w-full flex flex-row justify-start items-start gap-3">
    <div class="flex flex-col gap-2 w-1/2">
      <label for="firstName">Select the Monitoring Device</label>
      <input type="text" pInputText [(ngModel)]="value" class="w-full h-[32px]" placeholder="Monitoring Device" />
    </div>
    <div class="flex flex-col gap-2 w-1/2">
      <label for="firstName">Enter Device Serial</label>
      <input type="text" pInputText [(ngModel)]="value" class="w-full h-[32px]" placeholder="Serial ID" />
    </div>
  </div>
</div>
