<div [formGroup]="patientInfoForm" class="py-4 px-6 flex flex-col justify-start items-start gap-3">
  <div class="flex flex-row items-start justify-start">
    <h4 class="text-primary">Diagnosis</h4>
    <h5 *ngIf="name" class="m-1 font-semibold text-gray-700">&mdash; {{ name }}</h5>
  </div>
  <div class="w-full flex flex-row justify-start items-start gap-3">
    <div class="flex flex-col gap-2 w-[24%]">
      <label for="firstName">Diagnosis</label>
      <input type="text" formControlName="diagnosis" pInputText class="w-full h-[32px]" placeholder="Diagnosis" />
    </div>
    <div class="flex flex-col gap-2 w-[24%]">
      <label for="gender">EHR ID</label>
      <input formControlName="ehrId" type="text" pInputText class="w-full h-[32px]" placeholder="EHR ID" />
    </div>
    <div class="flex flex-col gap-3 w-[24%]">
      <label for="dob">Program Type</label>
      <input formControlName="programType" type="text" pInputText class="w-full h-[32px]" placeholder="Type" />
    </div>
    <div class="flex flex-col gap-2 w-[24%]">
      <label for="ethnicity">Emergency Contact Person</label>
      <input
        formControlName="emergencyContact"
        type="text"
        pInputText
        class="w-full h-[32px]"
        placeholder="Emergency Contact Person"
      />
    </div>
  </div>
  <div class="w-full flex flex-row justify-start items-start gap-3">
    <div class="flex flex-col gap-2 w-[24%]">
      <label for="mailingAddress">Emergency Contact Number</label>
      <input
        formControlName="emergencyContactNumber"
        type="text"
        pInputText
        class="w-full h-[32px]"
        placeholder="Emergency Contact Number"
      />
    </div>
    <div class="flex flex-col gap-2 w-[24%]">
      <label for="email">Care Type</label>
      <input type="text" formControlName="careType" pInputText class="w-full h-[32px]" placeholder="Care Type" />
    </div>
    <div class="flex flex-col gap-2 w-[24%]">
      <label for="city">Monitoring Device Required</label>
      <input
        formControlName="monitoringDeviceRequired"
        type="text"
        pInputText
        class="w-full h-[32px]"
        placeholder="City"
      />
    </div>
    <div class="flex flex-col gap-2 w-[24%]">
      <label for="zipCode">Text/SMS Consent</label>
      <input formControlName="textSmsConsent" type="text" pInputText class="w-full h-[32px]" placeholder="Zip Code" />
    </div>
  </div>
  <!-- <h4 class="text-primary">CCM</h4> -->
  <div class="w-full flex flex-row justify-start items-start gap-3">
    <div class="flex flex-col gap-2 w-full">
      <label for="cellPhoneNumber">Program Billing Diagnosis</label>
      <input
        formControlName="programBillingDiagnosis"
        type="text"
        pInputText
        class="w-full h-[32px]"
        placeholder="Program Billing Diagnosis"
      />
    </div>
  </div>
</div>
