<p-dialog [(visible)]="showModal" [closable]="false" modal="true" [style]="{ width: '400px' }">
  <ng-template pTemplate="header">
    <div>
      <h3 class="font-medium text-xl mb-0">Discharge Patient</h3>
    </div>
  </ng-template>

  <p-divider layout="horizontal"></p-divider>

  <div class="flex flex-col gap-4">
    <div>
      <p>
        Patient's Name:
        <span class="text-[#101828] font-sans text-[14px] not-italic font-medium leading-5">Handerson Covington</span>
      </p>
    </div>
    <div>
      <h3 class="text-[#101828] text-[14px] not-italic font-medium leading-5">Reason of discharge</h3>
      <textarea
        rows="5"
        cols="30"
        class="w-full rounded-lg p-2 bg-[#FFF] text-[#666] font-sans text-[12px] not-italic font-normal leading-normal"
        pInputTextarea
        [(ngModel)]="value"
      ></textarea>
    </div>

    <div class="flex justify-content-end gap-2">
      <button
        pButton
        pRipple
        label="Cancel"
        (click)="cancel()"
        class="flex justify-center py-2.5 items-center text-[#757575] text-[14px] not-italic font-medium leading-5 rounded-[8px] border border-solid border-[#757575] bg-white"
      ></button>

      <button
        pButton
        pRipple
        label="DisCharge"
        (click)="discharge()"
        class="flex justify-center py-2.5 items-center font-sans text-[14px] not-italic font-medium leading-5 rounded-[8px] text-white bg-[#6366F1] border border-solid border-[#6366F1]"
      ></button>
    </div>
  </div>
</p-dialog>
