<div [formGroup]="patientInfoForm" class="py-4 px-6 flex flex-col justify-start items-start gap-3">
  <div class="flex flex-row items-start justify-start">
    <h4 class="text-primary">Practice Information</h4>
    <h5 *ngIf="name" class="m-1 font-semibold text-gray-700">&mdash; {{ name }}</h5>
  </div>

  <div class="w-full flex flex-row justify-start items-start gap-3">
    <div class="flex flex-col gap-2 w-1/2">
      <label for="practiceName">Practice Name</label>
      <p-dropdown
        [options]="[]"
        formControlName="practiceName"
        class="w-full h-[32px]"
        placeholder="Enter Practice Name"
      />
    </div>
    <div class="flex flex-col gap-2 w-1/4">
      <label for="primaryCarePhysician">Primary Care Physician</label>
      <p-dropdown
        [options]="[]"
        formControlName="primaryCarePhysician"
        class="w-full h-[32px]"
        placeholder="Select Physician"
      />
    </div>
    <div class="flex flex-col gap-2 w-1/4">
      <label for="officeNumber">Office Number</label>
      <input
        type="text"
        pInputText
        formControlName="officeNumber"
        class="w-full h-[32px]"
        placeholder="Office Number"
      />
    </div>
  </div>

  <div class="w-full flex flex-row justify-start items-center gap-3">
    <div class="flex flex-row gap-2 w-1/2 items-center justify-start">
      <p-checkbox formControlName="primaryPhysicianChecked" [binary]="true" inputId="binary"></p-checkbox>
      <label for="primaryPhysicianChecked">Primary Care Physician</label>
    </div>
    <div class="flex flex-col gap-2 w-1/4">
      <label for="officeNumber2">Home Health Care</label>
      <p-dropdown
        [options]="[]"
        formControlName="officeNumber2"
        class="w-full h-[32px]"
        placeholder="Home Health Care"
      />
    </div>
    <div class="flex flex-col gap-2 w-1/4">
      <label for="officeNumber3">Home Health Office Number</label>
      <input
        type="text"
        pInputText
        formControlName="officeNumber3"
        class="w-full h-[32px]"
        placeholder="Home Health Office Number"
      />
    </div>
  </div>
</div>
