<section>
  <div class="w-full h-[42px] flex flex-row justify-between items-center">
    <p-button label="Pending Enrollments" icon="pi pi-arrow-left" [text]="true" class="p-3 font-medium" />
  </div>

  <intracare-table [columns]="columns" [rowData]="patients" [rowsPerPage]="[10, 25, 50]" />
</section>

<ng-template #patientCardTemplate let-row>
  <p class="font-bold">{{ row.name }}</p>
  <p>DOB {{ row.dob }}</p>
</ng-template>
<ng-template #programTypeTemplate let-row>
  <p class="font-bold">{{ row.programType }}</p>
</ng-template>
<ng-template #statusTemplate let-row>
  <p class="bg-skyLight text-indigo-500 text-center rounded-full inline-block w-auto px-2.5 py-1">
    {{ row.status }}
  </p>
</ng-template>
<ng-template #progressTemplate let-row>
  <div class="flex flex-col">
    <p>{{ row.progress }}%</p>
    <p-progressBar
      class="p-progressbar-value p-progressbar-value-animate progressbar text-skyLight"
      [value]="row.progress"
      [style]="{ height: '4px' }"
      [showValue]="false"
    ></p-progressBar>
  </div>
</ng-template>
<ng-template #consentTemplate let-row>
  <p class="bg-lime-50 text-lime-600 text-center px-[1px] rounded-lg">
    {{ row.consent }}
  </p>
</ng-template>
<ng-template #editUpdateTemplate let-row>
  <div class="flex flex-row items-center justify-start gap-2">
    <p-button icon="pi pi-eraser" class="table-icon" (click)="showDialog()"></p-button>
    <p-button icon="pi pi-sync" class="table-icon"></p-button>
  </div>
</ng-template>

<p-dialog
  header="Devices"
  [modal]="true"
  [(visible)]="visibleAddDevice"
  [style]="{ width: '40rem' }"
  [breakpoints]="{ '1199px': '75vw', '575px': '90vw' }"
  [maximizable]="true"
>
  <div class="w-full flex flex-col items-start justify-start gap-3">
    <div class="w-full flex flex-row items-start justify-start gap-2 p-3">
      <div class="flex flex-col justify-start items-start w-full">
        <ng-container *ngIf="isEditMode; else displayInfo">
          <div class="flex flex-col gap-2 add-device-form">
            <p-dropdown [options]="[]" placeholder="Device Type" />
            <input pInputText type="text" placeholder="Serial Number" />
          </div>
        </ng-container>
        <ng-template #displayInfo>
          <div class="flex flex-row justify-start items-center gap-2">
            <p class="font-bold m-0">Patient Name: <span class="font-normal">Farhan Ranjha</span></p>
            <span class="py-1 px-2 rounded-2xl bg-primary text-xs font-bold">CCM</span>
            <span class="py-1 px-2 rounded-2xl bg-primary text-xs font-bold">RPM</span>
          </div>
          <p class="font-bold m-0">Practice Name: <span class="font-normal">East Valley Family Physicians</span></p>
          <p class="font-bold m-0">DOB: <span class="font-normal">21-09-2000</span></p>
        </ng-template>
      </div>
      <i
        *ngIf="!isEditMode"
        class="pi pi-plus-circle"
        style="color: #017bfe; font-size: 2rem; margin: auto 10px; cursor: pointer"
        (click)="enableEditMode()"
      ></i>
      <div *ngIf="isEditMode" class="flex flex-col gap-[18px] w-[40%] justify-between h-full items-end">
        <i
          class="pi pi-undo"
          style="font-size: 1.2rem; margin: auto 10px; cursor: pointer"
          (click)="disableEditMode()"
        ></i>
        <p-button label="Submit" class="py-1 px-2 font-medium" />
      </div>
    </div>
    <div class="w-full flex flex-col items-start justify-start gap-2 p-3 bg-[#f7f7f7] rounded-md shadow-sm">
      <div class="flex flex-row justify-between items-center w-full">
        <div class="flex flex-row items-center gap-2">
          <p class="font-bold m-0">Type: <span class="font-normal">Blood Pressure Monitor</span></p>
          <span class="status-dot bg-[#28c76f]"></span>
        </div>
        <p class="bg-[#ff4c51] py-1 px-2 font-bold text-white rounded-md m-0">Delete</p>
      </div>
      <div class="flex flex-row justify-between items-center w-full">
        <p class="font-bold m-0">Serial No: <span class="font-normal">123345233523253</span></p>
        <p class="font-bold m-0">Issue Date: <span class="font-normal">12-08-2021</span></p>
      </div>
    </div>
    <div class="w-full flex flex-col items-start justify-start gap-2 p-3 bg-[#f7f7f7] rounded-md shadow-sm">
      <div class="flex flex-row justify-between items-center w-full">
        <div class="flex flex-row items-center gap-2">
          <p class="font-bold m-0">Type: <span class="font-normal">Blood Pressure Monitor</span></p>
          <span class="status-dot bg-[#28c76f]"></span>
        </div>
        <p class="bg-[#ff4c51] py-1 px-2 font-bold text-white rounded-md m-0">Delete</p>
      </div>
      <div class="flex flex-row justify-between items-center w-full">
        <p class="font-bold m-0">Serial No: <span class="font-normal">123345233523253</span></p>
        <p class="font-bold m-0">Issue Date: <span class="font-normal">12-08-2021</span></p>
      </div>
    </div>
    <div class="w-full flex flex-col items-start justify-start gap-2 p-3 bg-[#f7f7f7] rounded-md shadow-sm">
      <div class="flex flex-row justify-between items-center w-full">
        <div class="flex flex-row items-center gap-2">
          <p class="font-bold m-0">Type: <span class="font-normal">Blood Pressure Monitor</span></p>
          <span class="status-dot bg-[#28c76f]"></span>
        </div>
        <p class="bg-[#ff4c51] py-1 px-2 font-bold text-white rounded-md m-0">Delete</p>
      </div>
      <div class="flex flex-row justify-between items-center w-full">
        <p class="font-bold m-0">Serial No: <span class="font-normal">123345233523253</span></p>
        <p class="font-bold m-0">Issue Date: <span class="font-normal">12-08-2021</span></p>
      </div>
    </div>
    <div class="w-full flex flex-col items-start justify-start gap-2 p-3 bg-[#f7f7f7] rounded-md shadow-sm">
      <div class="flex flex-row justify-between items-center w-full">
        <div class="flex flex-row items-center gap-2">
          <p class="font-bold m-0">Type: <span class="font-normal">Blood Pressure Monitor</span></p>
          <span class="status-dot bg-[#28c76f]"></span>
        </div>
        <p class="bg-[#ff4c51] py-1 px-2 font-bold text-white rounded-md m-0">Delete</p>
      </div>
      <div class="flex flex-row justify-between items-center w-full">
        <p class="font-bold m-0">Serial No: <span class="font-normal">123345233523253</span></p>
        <p class="font-bold m-0">Issue Date: <span class="font-normal">12-08-2021</span></p>
      </div>
    </div>
  </div>
</p-dialog>
