<section class="w-full flex flex-col items-start justify-start gap-[14px]">
  <div class="page-header h-[42px] flex flex-row justify-between items-center w-full">
    <p-button label="Dashboard" icon="pi pi-arrow-left" [text]="true" class="p-3 font-medium" />
    <button pButton pRipple icon="pi pi-cloud-upload" label="Upload CSV" class="p-3 font-medium"></button>
  </div>
  <div class="w-full flex flex-row items-start justify-start gap-[14px]">
    <div class="w-1/5 h-[calc(100vh-13.7rem)] bg-white rounded-xl shadow-full p-[1.5rem] flex flex-col gap-2">
      <p
        *ngFor="let category of categories; let i = index"
        (click)="scrollToComponent(i)"
        class="cursor-pointer"
        [class.text-primary]="selectedCategory === category"
      >
        {{ category }}
      </p>
    </div>

    <div
      class="w-full bg-white rounded-md shadow-full h-[calc(100vh-13.7rem)] overflow-y-scroll"
      #componentContainer
      (scroll)="onScroll()"
    >
      <div id="patientInformation"><app-patient-information></app-patient-information></div>
      <div id="diagnosis">
        <app-diagnosis [name]="currentTopContainer === 'Diagnosis' ? name : null"></app-diagnosis>
      </div>
      <div id="attachDevice">
        <app-attach-device [name]="currentTopContainer === 'Attach a Device' ? name : null"></app-attach-device>
      </div>
      <div id="practiceInformation">
        <app-practice-information
          [name]="currentTopContainer === 'Practice Information' ? name : null"
        ></app-practice-information>
      </div>
      <div id="insuranceInfo">
        <app-insurance-info
          [name]="currentTopContainer === 'Primary Insurance Info' ? name : null"
        ></app-insurance-info>
      </div>
    </div>
  </div>
</section>
