<div class="page-header h-[30px] flex flex-row justify-between items-center w-full">
  <p-button label="Dashboard" icon="pi pi-arrow-left" [text]="true" class="p-3 font-medium" />
  <div class="shadow-sm">
    <button
      pButton
      pRipple
      label="RPM"
      class="rounded-s-md rounded-e-none py-1 px-3 font-medium ring-0"
      [ngClass]="{
        'bg-[#6366F1] border-[#6366F1] text-white': activeTab === 'RPM',
        'bg-white border-none text-gray-700': activeTab !== 'RPM',
      }"
      (click)="setActiveTab('RPM')"
    ></button>
    <button
      pButton
      pRipple
      label="CCM"
      class="rounded-s-none rounded-e-md py-1 px-3 font-medium ring-0"
      [ngClass]="{
        'bg-[#6366F1] border-[#6366F1] text-white': activeTab === 'CCM',
        'bg-white border-none text-gray-700': activeTab !== 'CCM',
      }"
      (click)="setActiveTab('CCM')"
    ></button>
  </div>
</div>
