<app-patient-notes></app-patient-notes>
<!-- using onLazyLoad.bind(this) to explicitly bind context of this to lazyload func/ or we can use arrow function -->
<!-- https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Functions/Arrow_functions#No_separate_this -->
<intracare-table
  [onLazyLoad]="onLazyLoad.bind(this)"
  [totalRecords]="totalRecords"
  [columns]="columns"
  [rowData]="rowData"
  [rowsPerPage]="[25, 50, 100]"
  [loading]="true"
/>

<ng-template #customFilterName let-handleFilterChange="handleFilterChange">
  <app-custom-filter [options]="columns[0].options" [filterCallback]="handleFilterChange" />
</ng-template>
<ng-template #customFilterRepresentative let-handleFilterChange="handleFilterChange">
  <app-custom-filter [filterCallback]="handleFilterChange" [(options)]="practices" />
</ng-template>
