<intracare-table
  [onLazyLoad]="onLazyLoad"
  [totalRecords]="totalRecords"
  [columns]="columns"
  [rowData]="rowData"
  [rowsPerPage]="[25, 50, 100]"
/>

<ng-template #actionTemplate let-row>
  <button pButton type="button" label="Action" (click)="onActionClick(row)"></button>
</ng-template>
<ng-template #customFilterName let-handleFilterChange="handleFilterChange">
  <app-custom-filter [options]="columns[0].options" [filterCallback]="handleFilterChange" />
</ng-template>
<ng-template #customFilterRepresentative let-handleFilterChange="handleFilterChange">
  <app-custom-filter [filterCallback]="handleFilterChange" [(options)]="columns[2].options" />
</ng-template>
