<div class="bg-white rounded-lg shadow-md mt-2 px-2 py-2">
  <div class="flex flex-row justify-between px-2">
    <p class="text-[#060505] font-sans text-[14.722px] not-italic font-medium leading-[normal]">Tasks</p>
    <p class="font-sans text-[12.881px] not-italic font-medium leading-[18.402px] text-[#6366F1]">View All</p>
  </div>
  <p class="text-[#222] font-sans text-[11.041px] not-italic leading-5 px-2">
    Lorem ipsum dolor sit amet, consectetur Duis sollicitudin adipiscing elit. Duis sollicitudin laoreet pulvinar....
    <a href="#" class="text-[#6366F1]">Expand</a>
  </p>
  <p-divider class="w-full" />
  <div class="flex justify-between px-2 mt-[-8px]">
    <span class="font-sans text-[11.041px] not-italic font-medium leading-[normal] text-[#060505]">Ajmal Shami</span>
    <span class="text-[#666] font-sans text-[11.041px] not-italic font-normal leading-[normal]"
      >Sep 24, 2024 at 6:03:00 PM</span
    >
  </div>
</div>
