<p-table
  #dt1
  [value]="rowData"
  dataKey="id"
  [paginator]="!loading && paginator"
  [rows]="25"
  [loading]="loading"
  [rowsPerPageOptions]="rowsPerPage"
  [totalRecords]="totalRecords"
  [lazy]="true"
  (onLazyLoad)="onLazyLoad($event)"
  [scrollable]="true"
  [scrollHeight]="scrollHeight"
  [style]="{ height: scrollHeight }"
  filterDelay="300"
>
  <ng-template *ngIf="showTopBar" pTemplate="caption">
    <div class="flex px-2">
      <p-button label="Clear" [outlined]="true" icon="pi pi-filter-slash" (onClick)="clear(dt1)" />
      <span class="p-input-icon-left ml-auto">
        <i class="pi pi-search"></i>
        <input
          pInputText
          type="text"
          [(ngModel)]="searchValue"
          (input)="dt1.filterGlobal($event.target.value, 'contains')"
          placeholder="Search keyword"
        />
      </span>
    </div>
  </ng-template>

  <ng-template pTemplate="header">
    <tr>
      <th
        [pSortableColumn]="col.sort ? col.field : null"
        *ngFor="let col of columns"
        [style.min-width]="col.minWidth || '5rem'"
        class="border-r-2"
        pFrozenColumn
        [frozen]="col.isFrozen"
      >
        <div class="flex align-items-center">
          <p class="m-0">{{ col.name }}</p>
          <ng-container *ngIf="col.sort">
            <p-sortIcon [field]="col.field"></p-sortIcon>
          </ng-container>
          <ng-container [ngSwitch]="col.filterType">
            <p-columnFilter *ngSwitchCase="'text'" [field]="col.field" display="menu" type="text"></p-columnFilter>
            <p-columnFilter *ngSwitchCase="'date'" [field]="col.field" display="menu" type="date"></p-columnFilter>
            <p-columnFilter
              *ngSwitchCase="'numeric'"
              [field]="col.field"
              display="menu"
              type="numeric"
            ></p-columnFilter>
            <p-columnFilter
              *ngSwitchCase="'boolean'"
              [field]="col.field"
              display="menu"
              type="boolean"
            ></p-columnFilter>

            <p-columnFilter
              *ngSwitchCase="'custom'"
              [field]="col.field"
              display="menu"
              [showMatchModes]="false"
              [showOperator]="false"
              [showAddButton]="false"
              [showApplyButton]="false"
              [showClearButton]="false"
              [matchMode]="'equals'"
            >
              <ng-template pTemplate="filter" let-filter="filterCallback">
                <ng-container
                  *ngTemplateOutlet="col.filterTemplate; context: { handleFilterChange: filter }"
                ></ng-container>
              </ng-template>
            </p-columnFilter>
          </ng-container>
        </div>
      </th>
    </tr>
  </ng-template>

  <ng-template pTemplate="body" let-row>
    <tr>
      <td *ngFor="let col of columns" pFrozenColumn [frozen]="col.isFrozen">
        <ng-container *ngIf="col.isCustom; else defaultContent">
          <ng-container *ngTemplateOutlet="col.template; context: { $implicit: row }"></ng-container>
        </ng-container>

        <ng-template #defaultContent>
          {{ col?.valueFormatter?.(getValue(row, col.field)) ?? getValue(row, col.field) }}
        </ng-template>
      </td>
    </tr>
  </ng-template>

  <ng-template pTemplate="emptymessage">
    <tr>
      <td colspan="{{ columns.length }}">No data found.</td>
    </tr>
  </ng-template>
</p-table>
