<section class="w-full flex flex-col gap-4 custom-header-padding">
  <div class="page-header h-[42px] flex justify-between items-center w-full">
    <p-button
      #menubutton
      label="Patient Pending Readings"
      icon="pi pi-arrow-left"
      [text]="true"
      class="p-3 font-medium"
      (click)="layoutService.onMenuToggle()"
    ></p-button>

    <div class="flex">
      <button
        pButton
        pRipple
        label="RPM"
        class="p-3 font-medium rounded-lg"
        [ngClass]="{
          'bg-[#6366F1] border-[#6366F1] text-white': activeTab === 'RPM',
          'bg-gray-100 border-none text-gray-700': activeTab !== 'RPM',
        }"
        (click)="setActiveTab('RPM')"
      ></button>
      <button
        pButton
        pRipple
        label="CCM"
        class="p-3 font-medium"
        [ngClass]="{
          'bg-[#6366F1] border-[#6366F1] text-white': activeTab === 'CCM',
          'bg-gray-100 border-none text-gray-700': activeTab !== 'CCM',
        }"
        (click)="setActiveTab('CCM')"
      ></button>
    </div>
  </div>

  <div class="w-full grid grid-cols-[40%_50%] bg-white shadow-md p-5 rounded-md justify-between items-start gap-4">
    <div class="col-span-2 flex flex-row gap-6">
      <div class="w-3/5 flex gap-4">
        <div class="flex flex-col gap-3">
          <img
            src="https://randomuser.me/api/portraits/men/75.jpg"
            alt="Patient Image"
            class="w-20 h-20 rounded-full"
          />
          <div
            class="flex justify-center text-center font-sans text-[12px] not-italic font-bold leading-[18px] text-[#6366F1]"
          >
            Profile
          </div>
        </div>
        <div class="w-full">
          <h2 class="text-[#101828] font-sans text-[14px] not-italic font-medium leading-[20px]">
            M "Minnie" Henderson Covington
          </h2>
          <div class="flex items-center gap-2 mt-2">
            <span class="badge bg-[#ECFDF3] text-[#027A48] py-1 px-2 rounded-full">English</span>
            <span class="badge bg-[#DCEFFF] text-[#6366F1] py-1 px-2 rounded-full">Female</span>
            <span class="badge bg-[#FFFAEB] text-[#B54708] py-1 px-2 rounded-full">76 y/o</span>
          </div>
          <div class="mt-4 space-y-1 text-[#666666]">
            <div class="flex flex-row justify-between">
              <p><img src="../../../assets/layout/styles/icons/call-outgoing.svg" /> Mobile</p>
              <p class="font-medium text-[#222]">
                (214) 284-0175 <i class="pi pi-pencil text-[#6366F1] underline cursor-pointer"></i>
              </p>
            </div>
            <div class="flex flex-row justify-between">
              <p><img src="../../../assets/layout/styles/icons/house.svg" /> Home</p>
              <p class="font-medium text-[#222]">
                (214) 284-0175 <i class="pi pi-pencil text-[#6366F1] underline cursor-pointer"></i>
              </p>
            </div>
            <p class="flex items-center gap-2">
              <img src="../../../assets/layout/styles/icons/hospital.svg" /> Alpha Medical Center
            </p>
            <p class="flex items-center gap-2">
              <img src="../../../assets/layout/styles/icons/profile-circle.svg" /> Dr. Austin Ogwu
            </p>
          </div>
          <div class="flex justify-end mt-3">
            <strong class="text-[#6366F1]">Patient Face Sheet</strong>
          </div>
        </div>
      </div>

      <div class="w-full flex gap-40 px-4" style="border-left: 1px solid rgba(128, 128, 128, 0.225)">
        <div class="flex flex-col text-[#666] font-sans not-italic font-normal leading-[normal]">
          <p>Place</p>
          <p>Diagnosis</p>
          <p>Care Type</p>
          <p>Program Type</p>
          <p>D.O.R</p>
          <p>Billing Cycle Start</p>
          <p>Time Spent</p>
        </div>

        <div class="flex-grow text-right font-normal">
          <div class="flex justify-between">
            <div class="font-medium text-[#222]">
              <p class="">Dallas, Texas</p>
              <p>HTN, Ventricular ectopic beat</p>
              <p>RPM</p>
              <p>Medicare</p>
              <div class="w-full flex items-center gap-3 mx-auto my-3">
                <div class="ml-7">7</div>
                <div>
                  <p-progressBar
                    class="p-progressbar-value p-progressbar-value-animate progressbar text-skyLight"
                    [value]="46"
                    [style]="{ height: '0.7rem', width: '8rem' }"
                    [showValue]="false"
                  ></p-progressBar>
                </div>
                <div>46%</div>
              </div>

              <p>Jul 6, 2024</p>
              <p class="float-right bg-[#F2F4F7] py-1 px-2 rounded-full">RPM: 0 mins</p>
            </div>
            <div class="flex flex-row gap-3">
              <span class="text-[#6366F1] bg-[#DCEFFF] h-max p-2 rounded-full">00:57 </span>
              <span class="text-[#B42318] h-max rounded-full">
                <i class="pi pi-stop-circle text-2xl"></i>
              </span>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-span-2" style="border-top: 1px solid rgba(128, 128, 128, 0.225)"></div>

    <div class="col-span-2 flex flex-row justify-between">
      <div class="flex gap-x-2">
        <button
          pButton
          pRipple
          label="Call"
          icon="pi pi-phone"
          class="p-button-outlined border-gray-500 text-black"
        ></button>
        <button
          pButton
          pRipple
          label="Video"
          icon="pi pi-video"
          class="p-button-outlined border-gray-500 text-black"
        ></button>
        <button
          pButton
          pRipple
          label="Task"
          icon="pi pi-check-circle"
          class="p-button-outlined border-gray-500 text-black"
        ></button>
        <button
          pButton
          pRipple
          label="Messages"
          icon="pi pi-envelope"
          class="p-button-outlined border-gray-500 text-black"
        ></button>
      </div>

      <div class="flex gap-x-2">
        <button
          pButton
          pRipple
          [ngClass]="{
            ' rounded-[8px] border-[1px] border-[solid] border-[#F99D67] bg-[var(--Background,_#FFF)] text-[14px] not-italic font-medium leading-[20px] text-[#B42318] ':
              activeBtn !== 'PatientOnHold',
            ' rounded-[8px] border-[1px] border-[solid] border-[#F99D67] bg-[#B42318] text-[14px] not-italic font-medium leading-[20px] text-[var(--Background,_#FFF)] ':
              activeTab === 'PatientOnHold',
          }"
          label="Patient On Hold"
          class="p-button-danger"
          (click)="setActiveBtn('PatientOnHold')"
        >
          <i class="pi pi-clock mr-1"></i>
        </button>
        <button
          pButton
          pRipple
          [ngClass]="{
            ' rounded-[8px] border-[1px] border-[solid] border-[#F99D67] bg-[var(--Background,_#FFF)] text-[14px] not-italic font-medium leading-[20px] text-[#B42318] ':
              activeBtn !== 'PatientDischarge',
            ' rounded-[8px] border-[1px] border-[solid] border-[#F99D67] bg-[#B42318] text-[14px] not-italic font-medium leading-[20px] text-[var(--Background,_#FFF)] ':
              activeTab === 'PatientDischarge',
          }"
          label="Discharge"
          class="p-button-danger"
          (click)="setActiveBtn('PatientDischarge')"
        >
          <i class="pi pi-user-minus mr-1"></i>
        </button>
      </div>
    </div>

    <div
      class="w-full col-span-2 bg-[#F2F4F7] p-3 rounded-md text-[#222] font-sans text-[14px] not-italic font-normal flex justify-between items-center"
    >
      <div class="flex items-center gap-2">
        <img src="../../../assets/layout/styles/icons/pinnedNotes.svg" />
        <span class="text-[#444444] text-[14px] font-sans not-italic leading-[20px] mr-6">Pinned Notes</span>

        <ng-container *ngIf="!isEditing; else editField">
          <span class="text-[#222] font-sans text-[14px] not-italic font-normal leading-[20px]">{{ value }}</span>
          <i class="pi pi-pencil cursor-pointer underline" (click)="editNotes()"></i>
        </ng-container>

        <ng-template #editField>
          <input
            type="text"
            [(ngModel)]="newValue"
            class="border border-b-gray-300 border-t-transparent border-x-transparent rounded p-1 w-[300px]"
          />
          <button (click)="updateNotes()" class="bg-[#6366F1] border-none text-white rounded p-1">Update</button>
        </ng-template>
      </div>
      <span class="text-[#222222]">Jan 1, 2024</span>
    </div>
  </div>

  <div class="card">
    <p-tabView [(activeIndex)]="activeIndex">
      <p-tabPanel header="Alerts">
        <intracare-table [columns]="columns" [rowData]="patients" [rowsPerPage]="[10, 25, 50]" />
        <ng-template #patientCardTemplate let-row>
          <p class="font-bold">{{ row.name }}</p>
          <p>DOB {{ row.dob }}</p>
        </ng-template>
        <ng-template #programTypeTemplate let-row>
          <p class="font-bold">{{ row.programType }}</p>
        </ng-template>
        <ng-template #statusTemplate let-row>
          <p class="bg-skyLight text-[#6366F1] text-center rounded-full inline-block w-auto px-2.5 py-1">
            {{ row.status }}
          </p>
        </ng-template>
        <ng-template #progressTemplate let-row>
          <div class="flex flex-col">
            <p>{{ row.progress }}%</p>
            <p-progressBar
              class="p-progressbar-value p-progressbar-value-animate progressbar text-skyLight"
              [value]="row.progress"
              [style]="{ height: '4px' }"
              [showValue]="false"
            ></p-progressBar>
          </div>
        </ng-template>
        <ng-template #consentTemplate let-row>
          <p class="bg-lime-50 text-lime-600 text-center px-[1px] rounded-lg">
            {{ row.consent }}
          </p>
        </ng-template>
        <ng-template #editUpdateTemplate let-row>
          <i (click)="openUpdateModal()" class="cursor-pointer mr-2 text-[15px] text-[#667085] not-italic flex-shrink-0"
            >Update</i
          >
          <i (click)="openEditModal()" class="cursor-pointer text-[15px] text-[#6366F1] not-italic flex-shrink-0"
            >Edit</i
          >
        </ng-template>
      </p-tabPanel>
      <p-tabPanel header="Vitals">
        <ng-template pTemplate="content"> Complex Content to Lazy Load </ng-template>
      </p-tabPanel>
      <p-tabPanel header="Tasks">
        <ng-template pTemplate="content"> Complex Content to Lazy Load </ng-template>
      </p-tabPanel>
    </p-tabView>
  </div>
</section>
