<section class="w-full flex flex-col gap-4 custom-header-padding">
  <div class="page-header h-[42px] flex justify-between items-center w-full">
    <p-button
      #menubutton
      label="Patient Chart"
      icon="pi pi-arrow-left"
      [text]="true"
      class="p-3 font-medium"
      (click)="layoutService.onMenuToggle()"
    ></p-button>

    <div class="flex">
      <button
        pButton
        pRipple
        label="RPM"
        class="p-3 font-medium rounded-lg"
        [ngClass]="{
          'bg-[#6366F1] border-[#6366F1] text-white': activeRPMCCM === 'RPM',
          'bg-gray-100 border-none text-gray-700': activeRPMCCM !== 'RPM',
        }"
        (click)="setRPMCCM('RPM')"
      ></button>
      <button
        pButton
        pRipple
        label="CCM"
        class="p-3 font-medium"
        [ngClass]="{
          'bg-[#6366F1] border-[#6366F1] text-white': activeRPMCCM === 'CCM',
          'bg-gray-100 border-none text-gray-700': activeRPMCCM !== 'CCM',
        }"
        (click)="setRPMCCM('CCM')"
      ></button>
    </div>
  </div>

  <div class="w-full grid grid-cols-[40%_50%] bg-white shadow-md p-5 rounded-md justify-between items-start gap-4">
    <div class="col-span-2 flex flex-row gap-6">
      <div class="w-3/5 flex gap-4">
        <div class="flex flex-col gap-3">
          <img
            src="https://randomuser.me/api/portraits/men/75.jpg"
            alt="Patient Image"
            class="w-20 h-20 rounded-full"
          />
          <div class="flex justify-center text-center font-sans text-[12px] not-italic font-bold leading-[18px]">
            <p class="text-[#6366F1] cursor-pointer" (click)="setActiveTab('General')">Profile</p>
          </div>
        </div>
        <div class="w-full">
          <h2 class="text-[#101828] font-sans text-[14px] not-italic font-medium leading-[20px]">
            {{ patientName }}
          </h2>
          <div class="flex items-center gap-2 mt-2">
            <span class="badge bg-[#ECFDF3] text-[#027A48] py-1 px-2 rounded-full">English</span>
            <span class="badge bg-[#DCEFFF] text-[#6366F1] py-1 px-2 rounded-full">Female</span>
            <span class="badge bg-[#FFFAEB] text-[#B54708] py-1 px-2 rounded-full">76 y/o</span>
          </div>
          <div class="mt-4 space-y-1 text-[#666666]">
            <div class="flex flex-row justify-between">
              <p><img src="../../../assets/layout/styles/icons/call-outgoing.svg" /> Mobile</p>
              <p class="font-medium text-[#222]">
                (214) 284-0175 <i class="pi pi-pencil text-[#6366F1] underline cursor-pointer"></i>
              </p>
            </div>
            <div class="flex flex-row justify-between">
              <p><img src="../../../assets/layout/styles/icons/house.svg" /> Home</p>
              <p class="font-medium text-[#222]">
                (214) 284-0175 <i class="pi pi-pencil text-[#6366F1] underline cursor-pointer"></i>
              </p>
            </div>
            <p class="flex items-center gap-2">
              <img src="../../../assets/layout/styles/icons/hospital.svg" /> Alpha Medical Center
            </p>
            <p class="flex items-center gap-2">
              <img src="../../../assets/layout/styles/icons/profile-circle.svg" /> Dr. Austin Ogwu
            </p>
          </div>
          <div class="flex justify-end mt-3">
            <strong class="text-[#6366F1]">Patient Face Sheet</strong>
          </div>
        </div>
      </div>

      <div class="w-full flex gap-40 px-4" style="border-left: 1px solid rgba(128, 128, 128, 0.225)">
        <div class="flex flex-col text-[#666] font-sans not-italic font-normal leading-[normal]">
          <p>Place</p>
          <p>Diagnosis</p>
          <p>Care Type</p>
          <p>Program Type</p>
          <p>D.O.R</p>
          <p>Billing Cycle Start</p>
          <p>Time Spent</p>
        </div>

        <div class="flex-grow text-right font-normal">
          <div class="flex justify-between">
            <div class="font-medium text-[#222]">
              <p class="">Dallas, Texas</p>
              <p>HTN, Ventricular ectopic beat</p>
              <p>RPM</p>
              <p>Medicare</p>
              <div class="w-full flex items-center gap-3 mx-auto my-3">
                <div class="ml-7">7</div>
                <div>
                  <p-progressBar
                    class="p-progressbar-value p-progressbar-value-animate progressbar text-skyLight"
                    [value]="46"
                    [style]="{ height: '0.7rem', width: '8rem' }"
                    [showValue]="false"
                  ></p-progressBar>
                </div>
                <div>46%</div>
              </div>

              <p>Jul 6, 2024</p>
              <p class="float-right bg-[#F2F4F7] py-1 px-2 rounded-full">RPM: 0 mins</p>
            </div>
            <div class="flex flex-row gap-3 text-xl">
              <span class="text-[#6366F1] bg-[#DCEFFF] h-max p-2 rounded-full py-1.5 px-4">00:57 </span>
              <span class="text-[#B42318] h-max rounded-full">
                <i class="pi pi-stop-circle text-3xl mt-1"></i>
              </span>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-span-2" style="border-top: 1px solid rgba(128, 128, 128, 0.225)"></div>

    <div class="col-span-2 flex flex-row justify-between">
      <div class="flex gap-x-2">
        <button
          pButton
          pRipple
          label="Call"
          icon="pi pi-phone"
          class="p-button-outlined border-gray-500 text-black"
        ></button>
        <button
          pButton
          pRipple
          label="Video"
          icon="pi pi-video"
          class="p-button-outlined border-gray-500 text-black"
        ></button>
        <button
          pButton
          pRipple
          label="Task"
          icon="pi pi-check-circle"
          class="p-button-outlined border-gray-500 text-black"
          (click)="openTaskModal()"
        ></button>
        <button
          pButton
          pRipple
          label="Messages"
          icon="pi pi-envelope"
          class="p-button-outlined border-gray-500 text-black"
        ></button>
      </div>

      <div class="flex gap-x-2">
        <button
          pButton
          pRipple
          [ngClass]="{
            ' bg-[var(--Background,_#FFF)] not-italic font-medium text-[#B42318] ': activeBtn !== 'PatientOnHold',
            ' rounded-[8px]  bg-[#B42318]  not-italic font-medium text-[var(--Background,_#FFF)] ':
              activeTab === 'PatientOnHold',
          }"
          label="Patient On Hold"
          class="p-button-danger"
          (click)="setActiveBtn('PatientOnHold')"
        >
          <i class="pi pi-clock mr-1"></i>
        </button>
        <button
          pButton
          pRipple
          [ngClass]="{
            ' bg-[var(--Background,_#FFF)] not-italic font-medium text-[#B42318] ': activeBtn !== 'PatientDischarge',
            ' rounded-[8px] border-[1px] border-[solid] border-[#F99D67] bg-[#B42318] not-italic font-medium text-[var(--Background,_#FFF)] ':
              activeTab === 'PatientDischarge',
          }"
          label="Discharge"
          class="p-button-danger"
          (click)="setActiveBtn('PatientDischarge')"
        >
          <i class="pi pi-user-minus mr-1"></i>
        </button>
      </div>
    </div>

    <div class="col-span-2" style="border-top: 1px solid rgba(128, 128, 128, 0.225)"></div>

    <div
      class="w-full col-span-2 bg-[#F2F4F7] p-3 rounded-md text-[#222] font-sans text-[14px] not-italic font-normal flex justify-between items-center"
    >
      <div class="flex items-center gap-2">
        <img src="../../../assets/layout/styles/icons/pinnedNotes.svg" />
        <span class="text-[#444444] text-[14px] font-sans not-italic leading-[20px] mr-6">Pinned Notes</span>

        <ng-container *ngIf="!isEditing; else editField">
          <span class="text-[#222] font-sans text-[14px] not-italic font-normal leading-[20px]">{{ value }}</span>
          <i class="pi pi-pencil cursor-pointer underline" (click)="editNotes()"></i>
        </ng-container>

        <ng-template #editField>
          <input
            type="text"
            [(ngModel)]="newValue"
            class="border border-b-gray-300 border-t-transparent border-x-transparent rounded p-1 w-[300px]"
          />
          <button (click)="updateNotes()" class="bg-[#6366F1] border-none text-white rounded p-1">Update</button>
        </ng-template>
      </div>
      <span class="text-[#222222]">Jan 1, 2024</span>
    </div>
    <div class="col-span-2">
      <button
        class="font-sans bg-[#FFFFFF] px-0 py-[10px] text-[14px] not-italic font-medium leading-[20px] cursor-pointer mr-3"
        [ngClass]="{
          'border-x-0 border-t-0 border-b-[1.5px] border-b-[#6366F1] text-[#6366F1] font-bold': activeTab === 'General',
          'border-none font-[500] text-[#667085]': activeTab !== 'General',
        }"
        (click)="setActiveTab('General')"
      >
        General
      </button>
      <button
        class="font-sans bg-[#FFFFFF] px-0 py-[10px] text-[14px] not-italic font-medium leading-[20px] cursor-pointer"
        [ngClass]="{
          'border-x-0 border-t-0 border-b-[1.5px] border-b-[#6366F1] text-[#6366F1] font-bold ':
            activeTab === 'RPM Settings',
          'border-none font-[500] text-[#667085]': activeTab !== 'RPM Settings',
        }"
        (click)="setActiveTab('RPM Settings')"
      >
        RPM Settings
      </button>
    </div>
  </div>

  <div class="card m-[-6px]">
    <div *ngIf="activeTab === 'General'">
      <div class="p-tabView">
        <div class="tab-buttons mb-2">
          <button
            (click)="setActiveGeneralSubTab(0)"
            class="mr-3"
            [ngClass]="{
              'bg-[#DCEFFF] text-[#6366F1] rounded-[6px] px-3 py-2 font-sans text-[14px] not-italic font-medium leading-[20px]':
                activeGeneralSubTabIndex === 0,
              'text-[#757575] bg-transparent font-sans text-[14px] not-italic font-medium leading-[20px]':
                activeGeneralSubTabIndex !== 0,
            }"
            [ngStyle]="{
              border: 'none',
              'font-size': '14px',
              cursor: 'pointer',
            }"
          >
            Profile
          </button>
          <button
            (click)="setActiveGeneralSubTab(1)"
            class="mr-3"
            [ngClass]="{
              'bg-[#DCEFFF] text-[#6366F1] rounded-[6px] px-3 py-2 font-sans text-[14px] not-italic font-medium leading-[20px]':
                activeGeneralSubTabIndex === 1,
              'text-[#757575] bg-transparent font-sans text-[14px] not-italic font-medium leading-[20px]':
                activeGeneralSubTabIndex !== 1,
            }"
            [ngStyle]="{
              border: 'none',
              'font-size': '14px',
              cursor: 'pointer',
            }"
          >
            Devices
          </button>
          <button
            (click)="setActiveGeneralSubTab(2)"
            class="mr-3"
            [ngClass]="{
              'bg-[#DCEFFF] text-[#6366F1] rounded-[6px] px-3 py-2 font-sans text-[14px] not-italic font-medium leading-[20px]':
                activeGeneralSubTabIndex === 2,
              'text-[#757575] bg-transparent font-sans text-[14px] not-italic font-medium leading-[20px]':
                activeGeneralSubTabIndex !== 2,
            }"
            [ngStyle]="{
              border: 'none',
              'font-size': '14px',
              cursor: 'pointer',
            }"
          >
            Custom Vital Alerts
          </button>
        </div>

        <div class="my-4" style="border-top: 1px solid rgba(128, 128, 128, 0.225)"></div>

        <div *ngIf="activeGeneralSubTabIndex === 0">
          <div class="bg-gray-100 rounded-lg">
            <div class="p-[16px] flex flex-row gap-6 justify-between">
              <div class="flex flex-col gap-2">
                <ul class="w-[190px] pl-0 m-0 list-none flex-grow">
                  <div class="flel flex-col gap-2">
                    <li
                      *ngFor="let section of profileSections"
                      class="cursor-pointer w-[100%] my-2 px-3 py-[8px] rounded-lg last:mb-0 first:mt-0 text-[#222] font-sans text-[12px] not-italic font-medium leading-[normal]"
                      [ngClass]="{
                        'text-[#757575] font-sans text-[12px] my-[8px] not-italic font-medium leading-[20px]':
                          activeProfileItem.title !== section.title,
                        'text-[#6366F1] rounded-[6px] bg-[var(--Background,_#FFF)] [box-shadow:0px_1px_3px_0px_rgba(16,_24,_40,_0.10),_0px_1px_2px_0px_rgba(16,_24,_40,_0.06)]':
                          activeProfileItem.title === section.title,
                      }"
                      (click)="setActiveProfileItem(section)"
                    >
                      <p>{{ section.title }}</p>
                    </li>
                  </div>
                </ul>
              </div>

              <div
                *ngIf="activeProfileItem.title === 'Patient Notification Control'; else default"
                class="w-full grid grid-cols-2 gap-4 m-0"
              >
                <div class="col-span-2 flex justify-end items-center gap-4">
                  <i class="pi pi-pencil text-[#6366F1] underline mr-[-1rem]"></i>
                  <p class="text-[#6366F1]">Edit Details</p>
                </div>
                <div class="px-4 py-0 m-0 bg-white border rounded-lg shadow-sm flex justify-between items-center">
                  <div>
                    <p class="text-[#222] font-sans text-[14px] not-italic font-medium leading-[normal]">Text/SMS</p>
                    <p class="text-sm text-[#222222]">Opt-in for text/sms notifications</p>
                  </div>
                  <div>
                    <label class="toggle">
                      <input class="toggle-input" type="checkbox" checked />
                      <span class="toggle-label"> </span>
                      <span class="toggle-handle"></span>
                    </label>
                  </div>
                </div>

                <div class="p-4 bg-white border rounded-lg shadow-sm flex justify-between items-center">
                  <div>
                    <p class="text-[#222] font-sans text-[14px] not-italic font-medium leading-[normal]">
                      General/Holiday/Birthday/Newsletter
                    </p>
                    <p class="text-sm text-[#222222]">Opt-in to get a newsletter or other SMS</p>
                  </div>
                  <div>
                    <label class="toggle">
                      <input class="toggle-input" type="checkbox" checked />
                      <span class="toggle-label"> </span>
                      <span class="toggle-handle"></span>
                    </label>
                  </div>
                </div>

                <div class="p-4 bg-white border rounded-lg shadow-sm">
                  <div class="flex justify-between items-center">
                    <div>
                      <p class="text-[#222] font-sans text-[14px] not-italic font-medium leading-[normal]">
                        Daily Reminder SMS
                      </p>
                      <p class="text-sm text-[#222222]">Opt-in to get Daily Reminder</p>
                    </div>
                    <div>
                      <label class="toggle">
                        <input class="toggle-input" type="checkbox" checked />
                        <span class="toggle-label"> </span>
                        <span class="toggle-handle"></span>
                      </label>
                    </div>
                  </div>
                  <div class="flex px-[16px] py-[10px] gap-[8px] mt-2">
                    <div class="flex">
                      <input
                        type="time"
                        class="py-2 px-[14px] p-2 rounded-[8px] border-[1px] border-[var(--Gray-300,#D0D5DD)] bg-[var(--Background,_#FFF)] text-center text-gray-900"
                        value="12:00"
                      />
                      <button class="ml-4 px-4 py-2 bg-[#6366F1] text-[#FFFFFF] border-none text-sm rounded-lg">
                        Update
                      </button>
                    </div>
                  </div>
                </div>

                <div class="p-4 bg-white border rounded-lg shadow-sm">
                  <div class="flex justify-between items-center">
                    <div>
                      <p class="text-[#222] font-sans text-[14px] not-italic font-medium leading-[normal]">Email</p>
                      <p class="text-sm text-[#222222]">To get emails</p>
                    </div>
                    <div>
                      <label class="toggle">
                        <input class="toggle-input" type="checkbox" checked />
                        <span class="toggle-label"> </span>
                        <span class="toggle-handle"></span>
                      </label>
                    </div>
                  </div>

                  <div class="col-span-2 my-2" style="border-top: 1px solid rgba(128, 128, 128, 0.225)"></div>
                  <div class="mt-2 flex justify-between items-center">
                    <div class="">
                      <p class="text-[#222] font-sans text-[14px] not-italic font-medium leading-[normal]">
                        Birthday Email
                      </p>
                    </div>
                    <div>
                      <label class="toggle">
                        <input class="toggle-input" type="checkbox" checked />
                        <span class="toggle-label"> </span>
                        <span class="toggle-handle"></span>
                      </label>
                    </div>
                  </div>
                </div>
              </div>

              <ng-template #default>
                <div class="w-full grid grid-cols-3 gap-4 m-0">
                  <div class="col-span-3 flex justify-end items-center gap-4">
                    <i class="pi pi-pencil text-[#6366F1] underline mr-[-1rem]"></i>
                    <p class="text-[#6366F1]">Edit Details</p>
                  </div>
                  <div
                    *ngFor="let item of activeProfileItem.data"
                    class="bg-[var(--Background,_#FFF)] p-4 rounded-lg [box-shadow:0px_2px_10px_0px_rgba(0,_0,_0,_0.06)]"
                  >
                    <div class="flex flex-row justify-between">
                      <p class="text-[#666] font-sans text-[12px] not-italic font-medium leading-[normal]">
                        {{ item.label }}
                      </p>
                      <i class=""></i>
                    </div>
                    <p class="text-[#222] font-sans text-[14px] flex-[1_0_0] not-italic font-medium leading-[normal]">
                      {{ item.value }}
                    </p>
                  </div>
                </div>
              </ng-template>
            </div>
          </div>
        </div>
      </div>

      <div *ngIf="activeGeneralSubTabIndex === 1">
        <div class="p-4">Devices content goes here...</div>
      </div>

      <div *ngIf="activeGeneralSubTabIndex === 2">
        <div class="p-4">Custom Vital Alerts content goes here...</div>
      </div>
    </div>

    <div *ngIf="activeTab === 'RPM Settings'">
      <div class="p-tabView">
        <div class="tab-buttons mb-2">
          <button
            class="mr-3"
            (click)="setActiveRpmSubTab(0)"
            [ngClass]="{
              'bg-[#DCEFFF] text-[#6366F1] rounded-[6px] px-3 py-2 font-sans text-[14px] not-italic font-medium leading-[20px]':
                activeRpmSubTabIndex === 0,
              'text-[#757575] bg-transparent font-sans text-[14px] not-italic font-medium leading-[20px]':
                activeRpmSubTabIndex !== 0,
            }"
            [ngStyle]="{
              border: 'none',
              'font-size': '14px',
              cursor: 'pointer',
            }"
          >
            Biometrics
          </button>

          <button
            (click)="setActiveRpmSubTab(1)"
            class="mr-3"
            [ngClass]="{
              'bg-[#DCEFFF] text-[#6366F1] rounded-[6px] px-3 py-2 font-sans text-[14px] not-italic font-medium leading-[20px]':
                activeRpmSubTabIndex === 1,
              'text-[#757575] bg-transparent font-sans text-[14px] not-italic font-medium leading-[20px]':
                activeRpmSubTabIndex !== 1,
            }"
            [ngStyle]="{
              border: 'none',
              'font-size': '14px',
              cursor: 'pointer',
            }"
          >
            Alerts
          </button>

          <button
            class="mr-3"
            (click)="setActiveRpmSubTab(2)"
            [ngClass]="{
              'bg-[#DCEFFF] text-[#6366F1] rounded-[6px] px-3 py-2 font-sans text-[14px] not-italic font-medium leading-[20px]':
                activeRpmSubTabIndex === 2,
              'text-[#757575] bg-transparent font-sans text-[14px] not-italic font-medium leading-[20px]':
                activeRpmSubTabIndex !== 2,
            }"
            [ngStyle]="{
              border: 'none',
              'font-size': '14px',
              cursor: 'pointer',
            }"
          >
            Vitals
          </button>

          <button
            class="mr-3"
            (click)="setActiveRpmSubTab(3)"
            [ngClass]="{
              'bg-[#DCEFFF] text-[#6366F1] rounded-[6px] px-3 py-2 font-sans text-[14px] not-italic font-medium leading-[20px]':
                activeRpmSubTabIndex === 3,
              'text-[#757575] bg-transparent font-sans text-[14px] not-italic font-medium leading-[20px]':
                activeRpmSubTabIndex !== 3,
            }"
            [ngStyle]="{
              border: 'none',
              'font-size': '14px',
              cursor: 'pointer',
            }"
          >
            Tasks
          </button>

          <button
            class="mr-3"
            (click)="setActiveRpmSubTab(4)"
            [ngClass]="{
              'bg-[#DCEFFF] text-[#6366F1] rounded-[6px] px-3 py-2 font-sans text-[14px] not-italic font-medium leading-[20px]':
                activeRpmSubTabIndex === 4,
              'text-[#757575] bg-transparent font-sans text-[14px] not-italic font-medium leading-[20px]':
                activeRpmSubTabIndex !== 4,
            }"
            [ngStyle]="{
              border: 'none',
              'font-size': '14px',
              cursor: 'pointer',
            }"
          >
            Logs
          </button>
        </div>

        <div class="my-4" style="border-top: 1px solid rgba(128, 128, 128, 0.225)"></div>

        <div *ngIf="activeRpmSubTabIndex === 1">
          <intracare-table [columns]="alertsHeader" [rowData]="alerts" [rowsPerPage]="[10, 25, 50]" />
        </div>
              
        <div *ngIf="activeRpmSubTabIndex === 2">
          <p>Tasks content goes here...</p>
        </div>

        <div *ngIf="activeRpmSubTabIndex === 3">
          <intracare-table [columns]="tasksHeader" [rowData]="tasks" [rowsPerPage]="[10, 25, 50]" />
        </div>

        <div *ngIf="activeRpmSubTabIndex === 4">
          <div class="flex">
            <button
              pButton
              pRipple
              label="Call Logs"
              class="p-1 mr-2 font-medium rounded-lg border-none"
              [ngClass]="{ 'bg-[#DCEFFF] text-[#6366F1] rounded-[6px] px-3 py-2 font-sans text-[14px] not-italic font-medium leading-[20px]': activeLogTab === 'callLogs', 'text-[#757575] bg-transparent font-sans text-[14px] not-italic font-medium leading-[20px]': activeLogTab !== 'callLogs' }"
              (click)="setActiveLogTab('callLogs')"
            ><i class="pi pi-phone mr-2"></i></button>
            <button
              pButton
              pRipple
              label="Text Logs"
              class="p-1 mr-2 font-medium rounded-lg border-none"
              [ngClass]="{ 'bg-[#DCEFFF] text-[#6366F1] rounded-[6px] px-3 py-2 font-sans text-[14px] not-italic font-medium leading-[20px]': activeLogTab === 'textLogs', 'text-[#757575] bg-transparent font-sans text-[14px] not-italic font-medium leading-[20px]': activeLogTab !== 'textLogs' }"
              (click)="setActiveLogTab('textLogs')"
            ><i class="pi pi-comment mr-2"></i></button>
            <button
              pButton
              pRipple
              label="Timer Logs"
              class="p-1 mr-2 font-medium rounded-lg border-none"
              [ngClass]="{ 'bg-[#DCEFFF] text-[#6366F1] rounded-[6px] px-3 py-2 font-sans text-[14px] not-italic font-medium leading-[20px]': activeLogTab === 'timerLogs', 'text-[#757575] bg-transparent font-sans text-[14px] not-italic font-medium leading-[20px]': activeLogTab !== 'timerLogs' }"
              (click)="setActiveLogTab('timerLogs')"
            ><i class="pi pi-clock mr-2"></i></button>
          </div>
          <div class="my-4" style="border-top: 1px solid rgba(128, 128, 128, 0.225)"></div>
        </div>
      </div>
    </div>
    
    
    <div *ngIf="activeLogTab === 'callLogs'">
      <div class=" mb-3">
        <p-radioButton name="group1" value="patients" [(ngModel)]="logFilter" label="Patients"></p-radioButton>
        <p-radioButton name="group1" value="providers" [(ngModel)]="logFilter" label="Providers" class="ml-4"></p-radioButton>
      </div>

      <app-call-logs [callLogs]="callLogsData"></app-call-logs>
    </div>
    
    <div *ngIf="activeLogTab === 'textLogs'">
      <app-text-logs [textLogs]="textLogsData"></app-text-logs>
    </div>
    
    <div *ngIf="activeLogTab === 'timerLogs'">
      <app-timer-logs [timerLogs]="timerLogsData"></app-timer-logs>
    </div>
    
  </div>



  <ng-template #priorityTemplate let-row>
    <span
      class="px-6 py-1 rounded-full text-center"
      [ngClass]="{
        'bg-green-200 text-green-600': row.priority === 'Low',
        'bg-orange-200 text-orange-600': row.priority === 'Medium',
        'bg-red-200 text-red-600': row.priority === 'High',
      }"
    >
      {{ row.priority }}
    </span>
  </ng-template>

  <ng-template #dueDatetimeTemplate let-row>
    {{ row.dueDatetime | date: "short" }}
  </ng-template>

  <ng-template #statusTemplate let-row>
    <span
      class="px-2 py-1 rounded-full text-center text-white"
      [ngClass]="{
        'bg-green-500': row.status === 'Complete',
        'bg-orange-500': row.status === 'Incomplete',
      }"
    >
      {{ row.status }}
    </span>
  </ng-template>
</section>

<p-dialog header="Add Task" [(visible)]="displayModal" [modal]="true" [closable]="true" [style]="{ width: '50vw' }">
  <form class="space-y-6">
    <!-- Task Description -->
    <div class="flex flex-col">
      <label for="taskDescription" class="font-semibold text-sm mb-1">Task Description *</label>
      <textarea
        id="taskDescription"
        rows="3"
        class="p-2 border border-gray-300 rounded-md focus:outline-none focus:ring-2 focus:ring-blue-500"
        [(ngModel)]="taskDescription"
        name="taskDescription"
      ></textarea>
    </div>

    <!-- Assign To, Due Date, and Due Time -->
    <div class="grid grid-cols-3 gap-4">
      <div class="flex flex-col">
        <label for="assignTo" class="font-semibold text-sm mb-1">Assign To *</label>
        <p-dropdown [(ngModel)]="assignTo" [options]="memberOptions" name="assignTo" class="w-full"></p-dropdown>
      </div>
      <div class="flex flex-col">
        <label for="dueDate" class="font-semibold text-sm mb-1">Due Date *</label>
        <input
          type="date"
          [(ngModel)]="dueDate"
          name="dueDate"
          class="p-2 border border-gray-300 rounded-md focus:outline-none"
        />
      </div>
      <div class="flex flex-col">
        <label for="dueTime" class="font-semibold text-sm mb-1">Due Time *</label>
        <p-dropdown [(ngModel)]="dueTime" [options]="timeOptions" name="dueTime" class="w-full"></p-dropdown>
      </div>
    </div>

    <div class="flex items-center">
      <label class="font-semibold text-sm mb-1 mr-4">Priority *</label>
      <div class="flex space-x-2">
        <button
          type="button"
          class="p-2 rounded-md"
          [ngClass]="{
            'bg-yellow-500 border-yellow-300 text-white': selectedPriority === 'Low',
            'bg-white text-black': selectedPriority !== 'Low',
          }"
          (click)="selectPriority('Low')"
        >
          Low
        </button>
        <button
          type="button"
          class="p-2 rounded-md"
          [ngClass]="{
            'bg-green-500 border-green-300 text-white': selectedPriority === 'Medium',
            'bg-white text-black': selectedPriority !== 'Medium',
          }"
          (click)="selectPriority('Medium')"
        >
          Medium
        </button>
        <button
          type="button"
          class="p-2 rounded-md"
          [ngClass]="{
            'bg-red-500 border-red-300 text-white': selectedPriority === 'High',
            'bg-white text-black': selectedPriority !== 'High',
          }"
          (click)="selectPriority('High')"
        >
          High
        </button>
      </div>
    </div>

    <div class="flex items-center space-x-4">
      <label class="font-semibold text-sm mb-1">Notification</label>
      <div class="flex space-x-2">
        <p-checkbox [(ngModel)]="notificationEmail" label="Notify via Email"></p-checkbox>
        <p-checkbox [(ngModel)]="notificationText" label="Notify via Text"></p-checkbox>
      </div>
    </div>

    <div class="flex justify-end space-x-4 pt-4">
      <button pButton label="Cancel" icon="pi pi-times" class="p-button-text" (click)="cancel()"></button>
      <button pButton label="OK" icon="pi pi-check" class="p-button-primary" (click)="createTask()"></button>
    </div>
  </form>
</p-dialog>
